################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ESC4-WS/.vs/ESC4-WS
/ESC4-WS/ESC4-SQStoLambda/bin
/ESC4-WS/ESC4-SQStoLambda/obj
/ESC4-WS/ESC4-WS/bin
/ESC4-WS/ESC4-WS/obj
/ESC4-WS/ESC4-SES-Service/bin
/ESC4-WS/ESC4-SES-Service/obj
/ESC4-WS/ESC4-SQStoLambdatoSES/bin
/ESC4-WS/ESC4-SQStoLambdatoSES/obj
